// Navigation code here

// * [ ] Navigation Styles: Use the `navigation.less` file for styling.

nav {
  height: 10vh;
  .display-flex(column, space-evenly, center);
  padding: 40px 20px 20px 20px;
  h1 {
    font-size: 3.2rem;
    color: @ebony-clay;
  }
  div {
      .display-flex(row, center, center);
      width: 100%;

    a {
        text-decoration: none;
        color: @ebony-clay;
        font-size: 1.6rem;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
      }
  }
  
}
